# 1. Scrape data and create dataframe

In [33]:
import pandas as pd
import numpy as np

# return a list of dataframes with all tables in the page
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
# we need the 1st df
df = tables[0]
df.head()

             0             1                 2
0  Postal Code       Borough      Neighborhood
1          M1A  Not assigned               NaN
2          M2A  Not assigned               NaN
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

Set column names

In [34]:
df.columns = df.iloc[0]
df.drop(df.index[0], inplace=True)
df.head(20)

,Postal Code,Borough,Neighborhood
1,M1A,Not assigned,NaN
2,M2A,Not assigned,NaN
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
6,M6A,North York,"Lawrence Manor, Lawrence Heights"
7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
8,M8A,Not assigned,NaN
9,M9A,Etobicoke,Islington Avenue
10,M1B,Scarborough,"Malvern, Rouge"
11,M2B,Not assigned,NaN
12,M3B,North York,Don Mills
13,M4B,East York,"Parkview Hill, Woodbine Gardens"
14,M5B,Downtown Toronto,"Garden District, Ryerson"
15,M6B,North York,Glencairn
16,M7B,Not assigned,NaN
17,M8B,Not assigned,NaN
18,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
19,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
20,M2C,Not assigned,NaN

Ignore cells with a borough that is Not assigned.

In [38]:
df1 = df[df['Borough'] != "Not assigned"]
df1.head(20)

,Postal Code,Borough,Neighborhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
6,M6A,North York,"Lawrence Manor, Lawrence Heights"
7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
9,M9A,Etobicoke,Islington Avenue
10,M1B,Scarborough,"Malvern, Rouge"
12,M3B,North York,Don Mills
13,M4B,East York,"Parkview Hill, Woodbine Gardens"
14,M5B,Downtown Toronto,"Garden District, Ryerson"
15,M6B,North York,Glencairn
18,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
19,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
21,M3C,North York,Don Mills
22,M4C,East York,Woodbine Heights
23,M5C,Downtown Toronto,St. James Town
24,M6C,York,Humewood-Cedarvale
27,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe..."
28,M1E,Scarborough,"Guildwood, Morningside, West Hill"
31,M4E,East Toronto,The Beaches

The requirement:

> More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

was already fullfilled by the table in wikipedia

The requirement:

>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

was already fullfiled by the page in wikipedia

In [40]:
df1[df1['Neighborhood'] == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

Number of rows and columns in dataframe:

In [42]:
df1.shape

(103, 3)

# 2. Getting latitude and longitude data

In [44]:
df_coord = pd.read_csv("Geospatial_Coordinates.csv")
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476